<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.handybook.handybook"
          xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <uses-feature
        android:name="android.hardware.location"
        android:required="false"
        />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false"
        />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="${PACKAGE_NAME}.permission.UA_DATA"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="${PACKAGE_NAME}.permission.C2D_MESSAGE"/>

    <permission
        android:name="${PACKAGE_NAME}.permission.UA_DATA"
        android:protectionLevel="signature"
        />
    <permission
        android:name="${PACKAGE_NAME}.permission.C2D_MESSAGE"
        android:protectionLevel="signature"
        />
    <permission
        android:name="${PACKAGE_NAME}.permission.LAYER_PUSH"
        android:protectionLevel="signature"
        />

    <uses-permission android:name="${PACKAGE_NAME}.permission.LAYER_PUSH"/>

    <application
        android:name=".core.BaseApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/HandyTheme"
        >

        <!-- This StartupTheme is to have the handy logo on startup. Note: The theme can be used for all fragments -->
        <activity
            android:name=".ui.activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/StartupTheme"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="handy.bttn.io"
                    android:pathPattern=".*"
                    android:scheme="https"
                    />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.OldDeeplinkSplashActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="booking"
                    android:path="/reschedule"
                    android:scheme="handy"
                    />
                <data
                    android:host="profile"
                    android:path="/"
                    android:scheme="handy"
                    />
            </intent-filter>
        </activity>
        <activity
            android:name=".booking.ui.activity.ServiceCategoriesActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".booking.ui.activity.ServicesActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".booking.ui.activity.BookingLocationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            />
        <activity
            android:name=".account.ui.ProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            />
        <activity
            android:name=".booking.ui.activity.BookingsActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.activity.UpdatePaymentActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".module.referral.ui.ReferralActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".module.referral.ui.RedemptionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            />
        <activity
            android:name=".booking.ui.activity.BookingOptionsActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".booking.ui.activity.BookingDateActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".booking.ui.activity.BookingProTeamActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".booking.ui.activity.BookingAddressActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".booking.ui.activity.BookingPaymentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            />
        <activity
            android:name=".booking.ui.activity.BookingDetailActivity"
            android:parentActivityName=".booking.ui.activity.BookingsActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".booking.ui.activity.ReportIssueActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.activity.WebViewActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".booking.ui.activity.BookingFinalizeActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".booking.ui.activity.BookingRecurrenceActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".booking.ui.activity.BookingExtrasActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".booking.ui.activity.BookingRescheduleOptionsActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".booking.ui.activity.BookingCancelOptionsActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".booking.ui.activity.PeakPricingActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".booking.ui.activity.PromosActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.activity.OnboardActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".helpcenter.ui.activity.HelpActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".helpcenter.helpcontact.ui.activity.HelpContactActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".booking.bookingedit.ui.activity.BookingEditPreferencesActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".booking.bookingedit.ui.activity.BookingEditEntryInformationActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".booking.bookingedit.ui.activity.BookingEditFrequencyActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".booking.bookingedit.ui.activity.BookingEditExtrasActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".booking.bookingedit.ui.activity.BookingEditHoursActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".booking.bookingedit.ui.activity.BookingEditAddressActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".booking.ui.activity.CancelRecurringBookingActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".module.proteam.ui.activity.ProTeamActivity"
            android:label="@string/title_activity_pro_team"
            android:parentActivityName=".booking.ui.activity.ServiceCategoriesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HandyTheme"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.handybook.handybook.booking.ui.activity.ServiceCategoriesActivity"
                />
        </activity>
        <activity
            android:name=".ui.activity.BlockingActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            />
        <!-- Required by the DeepLinkDispatch library -->
        <activity
            android:name=".deeplink.DeepLinkActivity"
            android:theme="@android:style/Theme.NoDisplay"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="handybook"/>
                <data android:scheme="handy"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="yozio"
                    android:path="/"
                    android:scheme="handy"
                    />
                <data
                    android:host="deeplink.yozio.com"
                    android:pathPrefix="/ea269dcf-ff3c-435a-bdc6-55b4c7904493"
                    android:scheme="https"
                    />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@style/com_facebook_activity_theme"
            />

        <!-- Used for install referrer tracking by Yozio -->
        <receiver
            android:name=".receiver.InstallReferrerReceiver"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"
            />
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="688486cdd4f0b095424122ad0a42e5e3473e83be"
            />
        <meta-data
            android:name="YozioAppKey"
            android:value="ea269dcf-ff3c-435a-bdc6-55b4c7904493"
            />
        <meta-data
            android:name="YozioSecretKey"
            android:value="243eee8e-5ae7-47f8-9739-e11cad7f57c0"
            />
        <meta-data
            android:name="YozioNewInstallMetaDataCallback"
            android:value="com.handybook.handybook.yozio.YozioMetaDataCallback"
            />

        <!-- Button -->
        <meta-data
            android:name="com.usebutton.applicationid"
            android:value="app-6c9d92fac7e09586"
            />

        <!-- Enables the Android Pay API -->
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true"
            />

        <!-- For google maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key"
            />

        <!-- URBAN AIRSHIP -->


        <!-- REQUIRED for Action.startActivityForResult -->
        <activity android:name="com.urbanairship.actions.ActionActivity"/>

        <!-- REQUIRED for Urban Airship Push -->
        <activity android:name="com.urbanairship.CoreActivity"/>

        <!--
        REQUIRED for Urban Airship Push. The priority is important to be set lower than the
        application's push intent receiver in order for the push intent receiver to handle push intents
        before the core receiver. This allows the application to launch any activities before Urban
        Airship performs any actions or falls back to launching the application launch intent.
        -->
        <receiver
            android:name="com.urbanairship.CoreReceiver"
            android:exported="false"
            >
            <intent-filter android:priority="-999">
                <action android:name="com.urbanairship.push.OPENED"/>

                <category android:name="${applicationId}"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".module.notifications.feed.ui.activity.NotificationsActivity"
            android:label="@string/title_activity_notification_feed"
            android:parentActivityName=".booking.ui.activity.ServicesActivity"
            android:theme="@style/BaseTheme"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.handybook.handybook.booking.ui.activity.ServicesActivity"
                />
        </activity>

        <!--
           REQUIRED for Urban Airship Landing Pages
           - For more customization details, see com.urbanairship.actions.LandingPageActivity
        -->
        <activity
            android:name="com.urbanairship.actions.LandingPageActivity"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="com.urbanairship.actions.SHOW_LANDING_PAGE_INTENT_ACTION"/>

                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="message"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- REQUIRED for Urban Airship -->
        <service
            android:name="com.urbanairship.push.PushService"
            android:label="Push Notification Service"
            />

        <!-- REQUIRED for Urban Airship Analytics -->
        <service
            android:name="com.urbanairship.analytics.EventService"
            android:label="Event Service"
            />

        <!-- REQUIRED for Urban Airship Actions -->
        <service android:name="com.urbanairship.actions.ActionService"/>

        <!-- REQUIRED for Urban Airship Rich Push -->
        <service android:name="com.urbanairship.richpush.RichPushUpdateService"/>

        <!-- OPTIONAL for Urban Airship Location (for segments support) -->
        <service
            android:name="com.urbanairship.location.LocationService"
            android:label="Segments Service"
            />

        <!-- OPTIONAL for Urban Airship this is required for persisting preferences related to push and location -->
        <provider
            android:name="com.urbanairship.UrbanAirshipProvider"
            android:authorities="${applicationId}.urbanairship.provider"
            android:exported="true"
            android:multiprocess="true"
            android:permission="${applicationId}.permission.UA_DATA"
            />

        <!-- REQUIRED for Urban Airship for PlayServiceUtils.handleAnyPlayServicesError to handle Google Play Services recoverable errors. -->
        <activity
            android:name="com.urbanairship.google.PlayServicesErrorActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            />

        <receiver
            android:name=".module.push.receiver.PushReceiver"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="com.urbanairship.push.CHANNEL_UPDATED"/>
                <action android:name="com.urbanairship.push.OPENED"/>
                <action android:name="com.urbanairship.push.RECEIVED"/>
                <action android:name="com.urbanairship.push.DISMISSED"/>

                <category android:name="${applicationId}"/>
            </intent-filter>
        </receiver>

        <!-- REQUIRED for GCM -->
        <receiver
            android:name="com.urbanairship.push.GCMPushReceiver"
            android:permission="com.google.android.c2dm.permission.SEND"
            >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>

                <category android:name="${applicationId}"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".module.bookings.HistoryActivity"
            android:screenOrientation="portrait"
            />

        <!-- Services: Layer SDK FCM handling -->
        <service
            android:name="com.layer.sdk.services.LayerFcmService"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name="com.layer.sdk.services.LayerFcmInstanceIdService"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <!-- Receiver: Our app notification handling -->
        <receiver
            android:name="com.handybook.shared.PushNotificationReceiver"
            android:permission="${PACKAGE_NAME}.permission.LAYER_PUSH"
            >

            <!-- TODO: JIA: figure out how we can "darkify" this -->
            <!-- Layer SDK broadcasts this, which we use to generate notifications -->
            <intent-filter>
                <action android:name="com.layer.sdk.PUSH"/>

                <category android:name="${PACKAGE_NAME}"/>
            </intent-filter>

            <!-- Our app sets this as a PendingIntent to handle user notification swipe-outs -->
            <intent-filter>
                <action android:name="${PACKAGE_NAME}.CANCEL_PUSH"/>

                <category android:name="${PACKAGE_NAME}"/>
            </intent-filter>
        </receiver>

        <activity android:name=".module.reschedule.RescheduleUpcomingActivity">
        </activity>
        <activity android:name=".module.proteam.ui.activity.ProMessagesActivity">
        </activity>


    </application>

</manifest>
