<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.handybook.handybook">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.location" android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />

    <application
        android:name=".core.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Base">

        <activity
            android:name=".ui.activity.ServiceCategoriesActivity"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.ServicesActivity" />
        <activity android:name=".ui.activity.BookingLocationActivity" />
        <activity android:name=".ui.activity.ProfileActivity" />
        <activity android:name=".ui.activity.BookingsActivity" />
        <activity android:name=".ui.activity.BookingOptionsActivity" />
        <activity android:name=".ui.activity.BookingDateActivity" />
        <activity android:name=".ui.activity.BookingAddressActivity" />
        <activity android:name=".ui.activity.BookingPaymentActivity" />
        <activity android:name=".ui.activity.BookingDetailActivity" />
        <activity android:name=".ui.activity.BookingConfirmationActivity" />
        <activity android:name=".ui.activity.BookingRecurrenceActivity" />
        <activity android:name=".ui.activity.BookingExtrasActivity" />
        <activity android:name=".ui.activity.BookingRescheduleOptionsActivity" />
        <activity android:name=".ui.activity.BookingCancelOptionsActivity" />
        <activity android:name=".ui.activity.PeakPricingActivity" />
        <activity android:name=".ui.activity.PromosActivity" />
        <activity android:name=".ui.activity.OnboardActivity" />
        <activity android:name="com.facebook.LoginActivity" />

        <receiver
            android:name=".receiver.InstallReferrerReceiver"
            android:exported="true"
            android:enabled="true">

            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>

        </receiver>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="688486cdd4f0b095424122ad0a42e5e3473e83be"/>

        <meta-data
            android:name="YozioAppKey"
            android:value="ea269dcf-ff3c-435a-bdc6-55b4c7904493" />

        <meta-data
            android:name="YozioSecretKey"
            android:value="243eee8e-5ae7-47f8-9739-e11cad7f57c0" />

        <meta-data
            android:name="YozioMetaDataCallback"
            android:value="com.handybook.handybook.yozio.YozioMetaDataCallback" />

    </application>

</manifest>
